
@{
    ViewData["Title"] = "GetPhone";
}

<h2>GetPhone</h2>

<form method="post">
    <p>
        <label>Модель</label><br />
        <input type="text" name="Name" />
    </p>
    <p>
        <label>Цена</label><br />
        <input type="number" name="Price" />
    </p>
    <p>
        <label>Производитель</label><br />
        <input type="text" name="Manufacturer.Name" />
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>

